
.bg-black{
  background: $black url(/assets/images/bg-black.jpg) repeat top left;
}

// -----------------
// HERO
// -----------------

.hero{

  .logo{
    width:70%;
  }

  h2{
    color:$white;
    padding-bottom: 350px;
    padding-top: 250px;
    text-align:center;
    @include font("FuturaLight", 42px, 58px);
  }

}


// -----------------
// Overview
// -----------------

.overview{

  padding-bottom:200px;
  padding-top:200px;

}

.overview-title{

  h2{
    color:$gold;
    text-align:center;
    @include font("Eastwood", 30px, 34px);
  }

  p{
    color:$white;
    text-align:center;
    @include font("FuturaLight", 26px, 42px);
  }

}

.overview-attributes-container{

  padding-top:100px;

  h3{
    color:$gold;
    margin-top:60px;
    text-align:center;
    @include font("Eastwood", 20px, 34px);
  }

  p{
    color:$white;
    text-align:center;
    @include font("FuturaBook", 18px, 29px);
  }

  a{
    color:$gold;
    display:block;
    margin-top:55px;
    text-align:center;
    @include font("FuturaBook", 14px, 29px);
  }

}

.overview-icon-container{

  background-color: $light-grey;
  margin:0 auto;
  height:160px;
  overflow:hidden;
  position:relative;
  width:160px;
  @include border-radius(80px);

}

#overview-expertise{

  img{
    position:absolute;
    @include transition(all 300ms ease-in-out);
  }

  .wireframe{
    left:0px;
    top:40px;
    width:70px;
  }

  .terminal{
    left:85px;
    top:25px;
    width:75px;
  }

  .code{
    left:85px;
    top:90px;
    width:80px;
  }

  &:hover{

    img{
      left:50%;
      top:50%;
    }

    .wireframe{
      margin: -45px 0 0 -35px;
    }

    .terminal{
      margin: -26px 0 0 -37.5px;
    }

    .code{
      margin: -43.5px 0 0 -40px;
    }

  }

}

#overview-process{

  img{
    left:150%;
    margin: 0 0 0 -60px;
    position:absolute;
    top:40px;
    width:120px;
  }

  img:first-child{
    left:50%;
  }

}