/* hero */

.hero{

  position:relative;
  height:820px;

  .hero-content-container{
    height:200px;
    left:50%;
    margin:-100px 0 0 -260px;
    position:absolute;
    top:50%;
    width:580px;
  }

  .logo{
    width:330px;
  }

  .hero-navs-container{
    margin-top:40px;
  }

  .main-nav{

    border-top: 1px solid $white;
    float:left;
    padding-top:8px;

    li{

      float:left;
      list-style-type:none;

      a{
        color:$white;
        @include font("FuturaBold", 12px);
        @include transition(color 150ms linear);

        &:hover{
          color:$gold;
        }
      }

      &+li{
        margin-left:30px;
      }

    }

  }

  .social-nav{

    @extend .main-nav;

    float:left;
    margin-left:15px;

    li{

      position:relative;
      top:3px;

      a{
        font-size:16px;
      }

      &+li{
        margin-left:12px;
      }

    }

  }

}

/* overview */

.overview{

  background-color: $black;
  padding: 100px 0;

  p.overview-text{
    @include font("EdmondsansRegular", 17px, 31px);
  }

  .overview-bucket{

    margin-bottom:80px;
    margin-top:80px;

    .large-4{

    }

    .large-8{

    }

  }

}

/* work */

.work{
  background-color: $grey;
  padding: 100px 0;
}


/* about */

.about{
  background-color: $black;
  padding: 100px 0;

  img{
    margin-bottom: 45px;
  }

  h2{
    color: $white;
    margin-bottom: 0px;
  }

  h3{
    margin-bottom: 20px;
  }

  .social{
    padding: 30px 0;

    a{
      display: block;
      float: left;
      margin-right: 10px;
    }

  }

  .last-played{
    margin-top: 30px;
  }

}


/* contact */

.contact{
  background-color: $grey;
  padding: 100px 0;

  .office,
  .hiring{
    margin-top: 10px;
  }

  .email-wrap{
    font-weight: bold;
    margin-top: 30px;
  }

}