
// colors
$white: #ffffff;
$black: #1b1f1d;
$grey: #2f3633;
$gold: #dec17b;

@mixin font($font-name: "Helvetica", $font-size: false, $line-height:false, $font-weight: false){

  font-family: $font-name;
  @if $font-size != false{
    font-size: $font-size;
  }

  @if $line-height != false{
    line-height: $line-height;
  }
  @else{
    line-height: $font-size + 6px;
  }

  @if $font-weight != false{
    font-weight: $font-weight;
  }
  @else{
    font-weight: 300;
  }

}

// speeds
$slow: 600ms;
$medium: 400ms;
$fast: 200ms;

//clearfix
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
