html {
  -webkit-font-smoothing: antialiased;
}

body{
  background-color: $black;
  color: $white;
}

[class*="column"] + [class*="column"]:last-child {
  float: left;
}

.hero{

  padding-top:70px;

}