h1{
  color: $gold;
  margin-bottom: 40px;
  text-transform: uppercase;
  @include font("ChunkFive", 28px, 34px);
}

h2{
  color: $gold;
  margin-bottom: 20px;
  text-transform: uppercase;
  @include font("ChunkFive", 18px, 24px);
}

h3{
  color: $gold;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include font("FuturaBold", 10px, 16px);
}

p{
  @include font("EdmondsansRegular", 15px, 29px);

  a{
    color: $gold;

    &:hover{
      border-bottom: 1px solid;
      color: $gold;
    }
  }

}

address{
  font-style: normal;
  @include font("EdmondsansRegular", 13px, 21px);
}

@font-face {
  font-family: 'ChunkFive';
  src: url('/assets/fonts/Chunk.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Chunk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Chunk.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Chunk.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Chunk.svg#1d2edb727159dffec03be400fd70540d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'EdmondsansBold';
  src: url('/assets/fonts/Edmondsans-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Edmondsans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Edmondsans-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Edmondsans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Edmondsans-Bold.svg#f665bbf4c06ef0fa26f7aefb226afbb1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'EdmondsansMedium';
  src: url('/assets/fonts/Edmondsans-Medium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Edmondsans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Edmondsans-Medium.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Edmondsans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Edmondsans-Medium.svg#dffdf410eda6d0e903115099b5e24d7c') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'EdmondsansRegular';
  src: url('/assets/fonts/Edmondsans-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Edmondsans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Edmondsans-Regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Edmondsans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Edmondsans-Regular.svg#7bbba12411bdd1eb69cf9e8a612ada82') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'FuturaBold';
  src: url('/assets/fonts/FuturaStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/FuturaStd-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/FuturaStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/FuturaStd-Bold.svg#e6614ac1ffeb97962de474601fd3ce1d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}


@charset "UTF-8";


@font-face {
  font-family: "SSSocialRegular";
  src: url('/assets/fonts/ss-social-regular.eot');
  src: url('/assets/fonts/ss-social-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ss-social-regular.woff') format('woff'),
       url('/assets/fonts/ss-social-regular.ttf')  format('truetype'),
       url('/assets/fonts/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}

.ss-icon, .ss-icon.ss-social-regular,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before, [class*=" ss-"].ss-social-regular:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after, [class*=" ss-"].ss-social-regular.right:after {
  font-family: "SSSocialRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

[class^="ss-"].right:before,
[class*=" ss-"].right:before{display:none;content:'';}

.ss-facebook:before,.ss-facebook.right:after{content:''}.ss-twitter:before,.ss-twitter.right:after{content:''}.ss-linkedin:before,.ss-linkedin.right:after{content:''}.ss-googleplus:before,.ss-googleplus.right:after{content:''}.ss-appdotnet:before,.ss-appdotnet.right:after{content:''}.ss-zerply:before,.ss-zerply.right:after{content:''}.ss-reddit:before,.ss-reddit.right:after{content:''}.ss-steam:before,.ss-steam.right:after{content:''}.ss-tumblr:before,.ss-tumblr.right:after{content:''}.ss-wordpress:before,.ss-wordpress.right:after{content:''}.ss-blogger:before,.ss-blogger.right:after{content:''}.ss-posterous:before,.ss-posterous.right:after{content:''}.ss-quora:before,.ss-quora.right:after{content:''}.ss-youtube:before,.ss-youtube.right:after{content:''}.ss-vimeo:before,.ss-vimeo.right:after{content:''}.ss-vine:before,.ss-vine.right:after{content:''}.ss-letterboxd:before,.ss-letterboxd.right:after{content:''}.ss-flickr:before,.ss-flickr.right:after{content:''}.ss-instagram:before,.ss-instagram.right:after{content:''}.ss-500px:before,.ss-500px.right:after{content:''}.ss-etsy:before,.ss-etsy.right:after{content:''}.ss-pinterest:before,.ss-pinterest.right:after{content:''}.ss-svpply:before,.ss-svpply.right:after{content:''}.ss-readmill:before,.ss-readmill.right:after{content:''}.ss-dropbox:before,.ss-dropbox.right:after{content:''}.ss-pinboard:before,.ss-pinboard.right:after{content:''}.ss-delicious:before,.ss-delicious.right:after{content:''}.ss-dribbble:before,.ss-dribbble.right:after{content:''}.ss-behance:before,.ss-behance.right:after{content:''}.ss-github:before,.ss-github.right:after{content:''}.ss-octocat:before,.ss-octocat.right:after{content:''}.ss-stackoverflow:before,.ss-stackoverflow.right:after{content:''}.ss-paypal:before,.ss-paypal.right:after{content:''}.ss-kickstarter:before,.ss-kickstarter.right:after{content:''}.ss-foursquare:before,.ss-foursquare.right:after{content:''}.ss-yelp:before,.ss-yelp.right:after{content:''}.ss-skype:before,.ss-skype.right:after{content:''}.ss-rdio:before,.ss-rdio.right:after{content:''}.ss-spotify:before,.ss-spotify.right:after{content:''}.ss-lastfm:before,.ss-lastfm.right:after{content:''}.ss-soundcloud:before,.ss-soundcloud.right:after{content:''}.ss-link:before,.ss-link.right:after{content:'🔗'}.ss-phone:before,.ss-phone.right:after{content:'📞'}.ss-mail:before,.ss-mail.right:after{content:'✉'}.ss-like:before,.ss-like.right:after{content:'👍'}.ss-rss:before,.ss-rss.right:after{content:''}.ss-share:before,.ss-share.right:after{content:''}.ss-apple:before,.ss-apple.right:after{content:''}.ss-microsoft:before,.ss-microsoft.right:after{content:''}.ss-windows:before,.ss-windows.right:after{content:''}.ss-android:before,.ss-android.right:after{content:''}.ss-blackberry:before,.ss-blackberry.right:after{content:''}

/* Legacy */
.ss-fivehundredpx:before,.ss-fivehundredpx.right:after{content:''}