
{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content %}

  <!-- hero -->
  <section class="hero" data-template="home">

    <div class="row">
      <div class="columns large-3">
        <a href="/"><img src="/assets/images/logo.svg" class="logo" /></a>
      </div>
      <div class="nav-container columns large-6 large-offset-3">
        <ul>
          <li>
            <a href="/#overview">OVERVIEW</a>
          </li>
          <li>
            <a href="/#our-work">OUR WORK</a>
          </li>
          <li>
            <a href="/#about-us">ABOUT US</a>
          </li>
          <li>
            <a href="/#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h2 class="columns large-10 large-offset-1">
        WE HELP THE WORLD'S TOP COMPANIES BUILD AMAZING PRODUCTS.
      </h2>
    </div>

  </section>

  <!-- overview -->
  <section class="overview bg-black">

    <div class="row">

      <div class="columns large-10 large-offset-1 overview-title">
        <h2>
          Delivering large, operating small.
        </h2>
        <p>
          We blend theory-driven design with modern technology, creating elegant digital experiences and powerful technical solutions. While we deliver large, we operate small, keeping communication and transparency at the forefront of how we work with you.
        </p>
      </div>

    </div><!-- row -->

    <div class="row overview-attributes-container">

      <div class="columns large-4">

        <div class="overview-icon-wrapper">
          <div id='overview-expertise' class="overview-icon-container">
            <img class="wireframe" src="/assets/images/svg-wireframe.svg" />
            <img class="terminal" src="/assets/images/svg-terminal.svg" />
            <img class="code" src="/assets/images/svg-code.svg" />
          </div>
          <div class="overview-icon-border">&nbsp;</div>
        </div><!-- overview-icon-wrapper -->


        <h3>
          EXPERTISE
        </h3>
        <p>
          Our team doesn’t include individual designers and
          developers. Rather, we’re made up of web practitioners.
          Skill-sets composed of design, development,
          and project management.
        </p>
        <a href="#">HEY WE'RE HIRING <span class="ss-pica"></span></a>

      </div><!-- large-4 -->


      <div class="columns large-4">

        <div class="overview-icon-wrapper">
          <div id='overview-process' class="overview-icon-container">
            <img class="wireframe" src="/assets/images/svg-wireframe.svg" />
            <img class="prototype" src="/assets/images/svg-prototype.svg" />
            <img class="code" src="/assets/images/svg-code.svg" />
            <img class="app" src="/assets/images/svg-app.svg" />
          </div>
          <div class="overview-icon-border">&nbsp;</div>
        </div><!-- overview-icon-wrapper -->

        <h3>
          PROCESS
        </h3>
        <p>
          We handle all areas of the project life cycle, keeping
          communication and management under one roof; simplifying
          the process and ensuring each piece meets our standards.
        </p>
        <a href="#">HEY WE'RE HIRING <span class="ss-pica"></span></a>

      </div><!-- large-4 -->


      <div class="columns large-4">

        <div class="overview-icon-wrapper">
          <div id='overview-communication' class="overview-icon-container">
            <img class="talk-1" src="/assets/images/svg-talk-1.svg" />
            <img class="talk-2" src="/assets/images/svg-talk-2.svg" />
          </div><!-- overview-icon-container -->
          <div class="overview-icon-border">&nbsp;</div>
        </div><!-- overview-icon-wrapper -->

        <h3>
          COMMUNICATION
        </h3>
        <p>
          Our business is built on transparency and communication.
          We believe specific tools help build a project, but the
          back and forth is what informs, and transforms, successful work.
        </p>
        <a href="#">HEY WE'RE HIRING <span class="ss-pica"></span></a>

      </div><!-- large-4 -->

    </div><!-- overview-attributes-container -->


  </section>

  <!-- work -->
  <section class="work">
    <div class="row">

    </div>
  </section>

  <!-- about -->
  <section class="about">
    <div class="row">

      </div>
    </div>
  </section>

  <!-- contact -->
  <section class="contact">
    <div class="row">

    </div>
  </section>



{% endblock %}
