
{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content %}

  <!-- hero -->
  <section class="hero" data-template="home">

    <div class="hero-content-container">
      <img class="logo" src="/assets/images/logo.svg" alt="Authentic Form & Function" />
      <div class="hero-navs-container clearfix">
        <ul class="main-nav clearfix">
          <li><a href="">AGENCY OVERVIEW</a></li>
          <li><a href="">SELECT WORK</a></li>
          <li><a href="">ABOUT US</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
        <ul class="social-nav clearfix">
          <li><a href="" class="ss-icon ss-social-regular ss-twitter"></a></li>
          <li><a href="" class="ss-icon ss-social-regular ss-dribbble"></a></li>
          <li><a href="" class="ss-icon ss-social-regular ss-rdio"></a></li>
        </ul>
      </div>
    </div>

  </section>

  <!-- overview -->
  <section class="overview">
    <div class="row">
      <div class="large-10 large-offset-1 columns">

        <div class="row">
          <div class="large-7 columns">
            <h1>Delivering large while operating small.</h1>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <p class="overview-text">We blend theory-driven design with modern technology, creating elegant digital experiences and powerful technical solutions. While we deliver large, we operate small, keeping communication and transparency at the forefront of the way our lean team works with you.</p>
          </div>
        </div>

        <div class="row overview-bucket depth-row">
          <div class="large-4 columns">
            <h2>
              Depth
            </h2>
            <p>
              Our team doesn’t include individual designers and
              developers. Rather, we’re made up of web practitioners.
              Skill-sets composed of design, development, and project
              management.
            </p>
            <p>
              [WHY THIS IS GOOD FOR A CLIENT]
            </p>
          </div>

          <div class="large-8 columns svg-depth-container">
            <!-- <img class="mock" src="/assets/images/mock.png" /> -->
            <img class="wireframe-1" src="/assets/images/svg-process-1.svg">
            <img class="wireframe-2" src="/assets/images/svg-process-1.svg">
            <img class="pencil" src="/assets/images/svg-pencil.svg">
            <img class="ruler" src="/assets/images/svg-ruler.svg">
            <img class="notebook" src="/assets/images/svg-notebook.svg">
            <img class="pen" src="/assets/images/svg-pen.svg">
            <img class="flashdrive" src="/assets/images/svg-zipdrive.svg">

            <img class="guy" src="/assets/images/svg-guy.svg" />

            <img class="terminal" src="/assets/images/svg-terminal.svg">
            <img class="code" src="/assets/images/svg-code.svg">
            <img class="computer" src="/assets/images/svg-monitor.svg">
          </div><!-- large-8 -->

        </div><!-- depth-row -->

        <div class="row overview-bucket process-row is-planning">

          <div class="large-8 columns">

            <img class="circle" src="/assets/images/svg-circle.svg" />
            <div class="objects-container">
              <img class="planning" src="/assets/images/svg-doc-planning.svg" />
              <img class="design" src="/assets/images/svg-doc-design.svg" />
              <img class="code" src="/assets/images/svg-doc-code.svg" />
              <img class="launch" src="/assets/images/svg-doc-app.svg" />
            </div>
            <div class="title-container">
              <span class="process-title">Strategy & Planning</span>
            </div>

          </div>

          <div class="large-4 columns">
            <h2>Process</h2>
            <p>We handle all areas of the project life cycle, keeping communication and management under one roof; simplifying the process and ensuring each piece meets our standards.</p>
          </div>

        </div><!-- process-row-container -->

        <div class="row overview-bucket belief-row">


          <div class="large-4 columns">
            <h2>Belief</h2>
            <p>
              Our business is built on transparency and communication. We believe
              specific tools help build a project, but the back and forth is
              what informs, and transforms, successful work.
            </p>
            <p>
              [WHY THIS IS GOOD FOR A CLIENT]
            </p>
          </div>


          <div class="large-8 columns">

            <div class="screen-container">
              <img class="planning" src="/assets/images/svg-doc-planning.svg" />
              <img class="design" src="/assets/images/svg-doc-design.svg" />
              <img class="dev" src="/assets/images/svg-doc-code.svg" />
              <img class="app" src="/assets/images/svg-doc-app.svg" />
              <img class="chat" src="/assets/images/svg-chat.svg" />
            </div>

            <img class="monitor" src="/assets/images/svg-monitor-blank.svg" />

          </div>


        </div><!-- belief-row-container -->

      </div>
    </div>
  </section>

  <!-- work -->
  <section class="work">
    <div class="row">

      <div class="large-2 large-offset-1 columns work-title-container">
        <h2>Select Work</h2>
        <p>
          Blue Bottle. Umami assumenda flannel, qui you probably haven't heard of
          them letterpress tattooed nisi sint ullamco mixtape Schlitz.
          Enim reprehenderit.
        </p>
      </div>

      <div class="work-slides-container large-8 large-offset-1 columns">

        <div id="dimos-navigation" class="work-slides-navigation">
          <a class="arrow-left ss-icon ss-standard ss-reply" href="javascript:;">&nbsp;</a>
          <a class="arrow-right ss-icon ss-standard ss-navigateright">&nbsp;</a>
          <a class="project" data-project="dimos" data-slide="0" href="javascript:;">Intro</a>
          <a class="project" data-project="dimos" data-slide="1" href="javascript:;">iOS App Design</a>
          <a class="project" data-project="dimos" data-slide="2" href="javascript:;">Web & Mobile Site</a>
          <a class="project" data-project="dimos" data-slide="3" href="javascript:;">Ecommerce</a>
        </div>

        <div id="broomfield-navigation" class="work-slides-navigation">
          <a class="arrow-left ss-icon ss-standard ss-reply" href="javascript:;">&nbsp;</a>
          <a class="arrow-right ss-icon ss-standard ss-navigateright">&nbsp;</a>
          <a class="project" data-project="broomfield" data-slide="0" href="javascript:;">Intro</a>
          <a class="project" data-project="broomfield" data-slide="1" href="javascript:;">Broomfield 1</a>
          <a class="project" data-project="broomfield" data-slide="2" href="javascript:;">Broomfield 2</a>
          <a class="project" data-project="broomfield" data-slide="3" href="javascript:;">Broomfield 3</a>
        </div>

        <div id="plymold-navigation" class="work-slides-navigation">
          <a class="arrow-left ss-icon ss-standard ss-reply" href="javascript:;">&nbsp;</a>
          <a class="arrow-right ss-icon ss-standard ss-navigateright">&nbsp;</a>
          <a class="project" data-project="plymold" data-slide="0" href="javascript:;">Intro</a>
          <a class="project" data-project="plymold" data-slide="1" href="javascript:;">Plymold 1</a>
          <a class="project" data-project="plymold" data-slide="2" href="javascript:;">Plymold 2</a>
          <a class="project" data-project="plymold" data-slide="3" href="javascript:;">Plymold 3</a>
        </div>

        <div class="slide slide-projects" data-absolute-slide-index="0">
          <div class="slide-projects-content">
            <div class="buttons-container">
              <a class="work-button" href="javascript:;" data-project="dimos">DIMOS PIZZA</a>
              <a class="work-button" href="javascript:;" data-project="broomfield">BROOMFIELD,CO</a>
              <a class="work-button" href="javascript:;" data-project="plymold">PLYMOLD</a>
            </div>
            <span class="small-text">REVIEW SELECT CASE STUDIES ABOVE</span>
          </div>
        </div><!-- slide-home -->

        <div data-project="dimos" data-slide="0" data-absolute-slide-index="1" class="slide slide-intro">
          <div class="">
            <div class="intro-container">
              <div class="intro-content">
                <span class="title">Dimo's Pizza</span>
                <span class="subtitle">Web, Mobile, and Ecommerce</span>
                <p>
                  Blue Bottle. Umami assumenda flannel, qui you probably haven't heard of
                  them letterpress tattooed nisi sint ullamco mixtape Schlitz.
                  Enim reprehenderit.
                </p>
                <p>
                  Blue Bottle. Umami assumenda flannel, qui you probably haven't heard of
                  them letterpress tattooed nisi sint ullamco mixtape Schlitz.
                  Enim reprehenderit.
                </p>
              </div>
            </div>
          </div>
        </div><!-- slide-home -->

        <div data-project="dimos" data-slide="1" data-absolute-slide-index="2" class="slide slide-browser">
          <div class="">
            <div class="browser-container">
              <div class="browser-content">
                Dimos 1
              </div>
              <img class="dummy" src="/assets/images/svg-browser.svg" />
            </div>
          </div>
        </div><!-- slide-home -->

        <div data-project="dimos" data-slide="2" data-absolute-slide-index="3" class="slide slide-browser">
          <div class="">
            <div class="browser-container">
              <div class="browser-content">
                Dimos 2
              </div>
              <img class="dummy" src="/assets/images/svg-browser.svg" />
            </div>
          </div>
        </div><!-- slide-home -->

        <div data-project="dimos" data-slide="3" data-absolute-slide-index="4" class="slide slide-browser">
          <div class="">
            <div class="browser-container">
              <div class="browser-content">
                Dimos 3
              </div>
              <img class="dummy" src="/assets/images/svg-browser.svg" />
            </div>
          </div>
        </div><!-- slide-home -->

      </div>
    </div>
  </section>

  <!-- about -->
  <section class="about">
    <div class="row">
      <div class="large-10 large-offset-1 columns">

        <div class="row">

          <div class="large-4 columns">
            <h1>About Us</h1>
          </div>

          <div class="large-4 columns">
            <img src="/assets/images/chris.jpg" alt="Chris Arnold">
            <h2>Chris Arnold</h2>
            <h3>Creative Lead</h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare.</p>
            <p>Nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio.</p>
            <div class="social social-bio">
              <a href="#"><img src="/assets/images/social-twitter.png" data-hover-image="/assets/images/social-twitter-hover.png" /></a>
              <a href="#"><img src="/assets/images/social-dribbble.png" data-hover-image="/assets/images/social-dribbble-hover.png" /></a>
              <a href="#"><img src="/assets/images/social-vsco.png" data-hover-image="/assets/images/social-vsco-hover.png" /></a>
              <a href="#"><img src="/assets/images/social-rdio.png" data-hover-image="/assets/images/social-rdio-hover.png" /></a>
            </div>
            <div class="last-played">
              <h3>Last Song Played</h3>
            </div>
          </div>

          <div class="large-4 columns">
            <img src="/assets/images/bryant.jpg" alt="Bryant Hughes">
            <h2>Bryant Hughes</h2>
            <h3>Technical Lead</h3>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat.</p>
            <p>Nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <div class="social social-bio">
              <a href="#"><img src="/assets/images/social-twitter.png" data-hover-image="/assets/images/social-twitter-hover.png" /></a>
              <a href="#"><img src="/assets/images/social-github.png" data-hover-image="/assets/images/social-github-hover.png" /></a>
              <a href="#"><img src="/assets/images/social-instagram.png" data-hover-image="/assets/images/social-instagram-hover.png" /></a>
              <a href="#"><img src="/assets/images/social-rdio.png" data-hover-image="/assets/images/social-rdio-hover.png" /></a>
            </div>
            <div class="last-played">
              <h3>Last Song Played</h3>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- contact -->
  <section class="contact">
    <div class="row">
      <div class="large-12 columns">

        <div class="large-4 columns">
          <h1>Ready?</h1>
          <p>We're always on the lookout for our next exciting project. If you're ready to get yours started, please fill our out Project Introduction Brief and send it this way. We'll be in touch within a day or two.</p>
        </div>

        <div class="large-4 columns">
          <h1>Contact</h1>
          <p>We'd love to hear from you and learn more about your story. Don't hesitate! We'll get back to you quickly.</p>
          <div class="row">
            <div class="large-5 columns">
              <h3 class="office">Denver</h3>
              <address>3316 Tejon St<br>Suite 106<br>Denver, CO<br>80211</address>
            </div>
            <div class="large-6 columns">
              <h3 class="office">Chicago</h3>
              <address>1928 Crystal St<br>Unit 2<br>Chicago, IL<br>60622</address>
            </div>
          </div>
          <p class="email-wrap">
            Businss Dev: <a href="mailto:biz@authenticff.com">biz@authenticff.com</a><br>
            General Inquiries: <a href="mailto:info@authenticff.com">info@authenticff.com</a>
          </p>
        </div>

        <div class="large-4 columns">
          <h1>We're Hiring!</h1>
          <p>Are you pasionate about web craftsmanship? Do you thrive in a remote work environment? We're always on the lookout for like-minded creative individuals.</p>
          <h3 class="hiring">Currently Hiring For</h3>
          <p>Business Development<br>UI/UX Designer<br>Web Developer</p>
        </div>

      </div>
    </div>
  </section>



{% endblock %}
