
{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content %}

  <!-- hero -->
  <section class="hero" data-template="home">

    <div class="row">
      <div class="columns large-3">
        <a href="/"><img src="/assets/images/logo.svg" class="logo" /></a>
      </div>
      <div class="nav-container columns large-6 large-offset-3">
        <ul>
          <li>
            <a href="/#overview">OVERVIEW</a>
          </li>
          <li>
            <a href="/#our-work">OUR WORK</a>
          </li>
          <li>
            <a href="/#about-us">ABOUT US</a>
          </li>
          <li>
            <a href="/#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h2 class="columns large-10 large-offset-1">
        WE HELP THE WORLD'S TOP COMPANIES BUILD AMAZING PRODUCTS.
      </h2>
    </div>

  </section>

  <!-- overview -->
  <section class="overview bg-black">

    <div class="row">

      <div class="columns large-10 large-offset-1 overview-title">
        <h2>
          Delivering large, operating small.
        </h2>
        <p>
          We blend theory-driven design with modern technology, creating elegant digital experiences and powerful technical solutions. While we deliver large, we operate small, keeping communication and transparency at the forefront of how we work with you.
        </p>
      </div>

    </div><!-- row -->

    <div class="row overview-attributes-container">

      <div class="columns large-4">

        <div class="overview-icon-wrapper">
          <div id='overview-expertise' class="overview-icon-container">
            <img class="wireframe" src="/assets/images/svg-wireframe.svg" />
            <img class="terminal" src="/assets/images/svg-terminal.svg" />
            <img class="code" src="/assets/images/svg-code.svg" />
          </div>
          <div class="overview-icon-border">&nbsp;</div>
        </div><!-- overview-icon-wrapper -->


        <h3>
          EXPERTISE
        </h3>
        <p>
          Our team doesn’t include individual designers and
          developers. Rather, we’re made up of web practitioners.
          Skill-sets composed of design, development,
          and project management.
        </p>
        <a href="#">HEY WE'RE HIRING <span class="ss-pica"></span></a>

      </div><!-- large-4 -->


      <div class="columns large-4">

        <div class="overview-icon-wrapper">
          <div id='overview-process' class="overview-icon-container">
            <img class="wireframe" src="/assets/images/svg-wireframe.svg" />
            <img class="prototype" src="/assets/images/svg-prototype.svg" />
            <img class="code" src="/assets/images/svg-code.svg" />
            <img class="app" src="/assets/images/svg-app.svg" />
          </div>
          <div class="overview-icon-border">&nbsp;</div>
        </div><!-- overview-icon-wrapper -->

        <h3>
          PROCESS
        </h3>
        <p>
          We handle all areas of the project life cycle, keeping
          communication and management under one roof; simplifying
          the process and ensuring each piece meets our standards.
        </p>
        <a href="#">HEY WE'RE HIRING <span class="ss-pica"></span></a>

      </div><!-- large-4 -->


      <div class="columns large-4">

        <div class="overview-icon-wrapper">
          <div id='overview-communication' class="overview-icon-container">
            <img class="talk-1" src="/assets/images/svg-talk-1.svg" />
            <img class="talk-2" src="/assets/images/svg-talk-2.svg" />
          </div><!-- overview-icon-container -->
          <div class="overview-icon-border">&nbsp;</div>
        </div><!-- overview-icon-wrapper -->

        <h3>
          COMMUNICATION
        </h3>
        <p>
          Our business is built on transparency and communication.
          We believe specific tools help build a project, but the
          back and forth is what informs, and transforms, successful work.
        </p>
        <a href="#">HEY WE'RE HIRING <span class="ss-pica"></span></a>

      </div><!-- large-4 -->

    </div><!-- overview-attributes-container -->


  </section>

  <!-- work -->
  <section class="work">
    <div class="row">

      <div class="columns large-12 work-stage-container">
        <div class="row">

          <div class="columns large-12 logos-container">
            <a href="javascript:;" class="client-link" data-client-name="broomfield"><img src="/assets/images/logo-broomfield.png" /></a>
            <a href="javascript:;" class="client-link" data-client-name="dimos"><img src="/assets/images/logo-broomfield.png" /></a>
            <a href="javascript:;" class="client-link" data-client-name="marwen"><img src="/assets/images/logo-broomfield.png" /></a>
          </div>

          <div class="columns large-12 galleries-container">
            <div class="row">


              <div class="columns large-3">
                <div class="work-gallery-copy-container">


                  <!-- EMPTY -->
                  <div class="slide" data-client-name="empty" data-slide-index="0">
                    <div class="hidden-content">
                      Look what you found!
                    </div>
                  </div><!-- .slide -->


                  <!-- BROOMFIELD -->
                  <div class="slide" data-client-name="broomfield" data-slide-index="1">
                    <span class="client-name">City of Broomfield</span>
                    <span class="project-name">Parks Mapping App</span>
                    <p>
                      Broomfield boasts over 60 parks for locals to explore, but the
                      city needed a way to maintain this list publically, contained
                      within a usable web application. We lead all aspects of design
                      and development, as well as photography for the most
                      trafficked locations.
                    </p>
                    <a href="javascript:;" class="back-to-clients"><span class="ss-icon ss-standard ss-navigateleft"></span>Back to Client List</a>
                  </div><!-- .slide -->


                  <!-- DIMOS -->
                  <div class="slide" data-client-name="dimos" data-slide-index="2">
                    <span class="client-name">Dimos</span>
                    <span class="project-name">Responsive Site, Mobile app, Ecommerce</span>
                    <p>
                      Broomfield boasts over 60 parks for locals to explore, but the
                      city needed a way to maintain this list publically, contained
                      within a usable web application. We lead all aspects of design
                      and development, as well as photography for the most
                      trafficked locations.
                    </p>
                    <a href="javascript:;" class="back-to-clients"><span class="ss-icon ss-standard ss-navigateleft"></span>Back to Client List</a>
                  </div><!-- .slide -->


                  <!-- MARWEN -->
                  <div class="slide" data-client-name="marwen" data-slide-index="3">
                    <span class="client-name">Marwen</span>
                    <span class="project-name">Student Registration</span>
                    <p>
                      Broomfield boasts over 60 parks for locals to explore, but the
                      city needed a way to maintain this list publically, contained
                      within a usable web application. We lead all aspects of design
                      and development, as well as photography for the most
                      trafficked locations.
                    </p>
                    <a href="javascript:;" class="back-to-clients"><span class="ss-icon ss-standard ss-navigateleft"></span>Back to Client List</a>
                  </div><!-- .slide -->

                </div><!-- work-gallery-copy-container -->
              </div><!-- large-3 -->


              <div class="columns large-9">
                <div class="work-gallery-examples-container">

                  <div class="slide" data-client-name="empty" data-slide-index="0">
                    <img class="browser" src="/assets/images/work-broomfield-1.png" />
                  </div>

                  <div class="slide" data-client-name="broomfield" data-slide-index="1">
                    <img class="browser" src="/assets/images/work-broomfield-1.png" />
                  </div>

                  <div class="slide" data-client-name="dimos" data-slide-index="2">
                    <img class="browser" src="/assets/images/work-dimos-1.png" />
                  </div>

                  <div class="slide" data-client-name="marwen" data-slide-index="3">
                    <img class="browser" src="/assets/images/work-marwen-1.png" />
                  </div>

                </div><!-- work-gallery-examples-container -->
              </div><!-- large-9 -->


            </div><!-- row -->
          </div><!-- galleries-container -->


        </div><!-- row -->
      </div><!-- work-stage-container -->

    </div><!-- row -->
  </section>

  <!-- about -->
  <section class="about bg-black">
    <div class="row">

      <div class="columns large-4 large-offset-1">
        <h4>Chris Arnold</h4>
        <span class="position">CREATIVE LEAD</span>

        <p>
          Proin gravida nibh vel velit auctor aliquet.
          Aenean sollicitudin, lorem quis bibendum auctor
          nisi elit consequat ipsum, nec sagittis sem
          nibh id elit.
        </p>

        <p>
          Duis sed odio sit amet nibh vulputate cursus
          a sit amet mauris. Morbi accumsan ipsum
          velit. Nam nec tellus a odio tincidunt auctor
          a ornare.
        </p>

        <p>
          Nec sagittis sem nibh id elit. Duis sed odio
          sit amet nibh vulputate cursus a sit amet
          mauris. Morbi accumsan ipsum velit. Nam nec
          tellus a odio.
        </p>

        <ul class="social clearfix">
          <li>
            <a class="ss-social-regular ss-twitter" href=""></a>
          </li>
          <li>
            <a class="ss-social-regular ss-dribbble" href=""></a>
          </li>
          <li>
            <a class="ss-social-regular ss-instagram" href=""></a>
          </li>
          <li>
            <a class="ss-social-regular ss-rdio" href=""></a>
          </li>
        </ul>

      </div><!-- large-4 -->



      <div class="columns large-4 large-offset-1">
        <h4>Bryant Hughes</h4>
        <span class="position">TECHNICAL LEAD</span>

        <p>
          Proin gravida nibh vel velit auctor aliquet.
          Aenean sollicitudin, lorem quis bibendum auctor
          nisi elit consequat ipsum, nec sagittis sem
          nibh id elit.Nam nec tellus a odio tincidunt auctor
          a ornare.
        </p>

        <p>
          Duis sed odio sit amet nibh vulputate cursus
          a sit amet mauris. Morbi accumsan ipsum
          velit.
        </p>

        <p>
          Nec sagittis sem nibh id elit. Duis sed odio
          sit amet nibh vulputate cursus a sit amet
          mauris. Morbi accumsan ipsum velit. Nam nec
          tellus a odio.Nam nec tellus a odio tincidunt auctor
          a ornare.Nam nec tellus a odio tincidunt auctor
          a ornare.
        </p>

        <ul class="social clearfix">
          <li>
            <a class="ss-social-regular ss-twitter" href=""></a>
          </li>
          <li>
            <a class="ss-social-regular ss-dribbble" href=""></a>
          </li>
          <li>
            <a class="ss-social-regular ss-instagram" href=""></a>
          </li>
          <li>
            <a class="ss-social-regular ss-rdio" href=""></a>
          </li>
        </ul>

      </div><!-- large-4 -->

      <img class="dude-1" src="/assets/images/placeholder-dude1.png" />
      <img class="dude-2" src="/assets/images/placeholder-dude2.png" />

    </div><!-- row -->
  </section>

  <!-- contact -->
  <section class="contact">
    <div class="row">
      <div class="columns large-4">
        <h3>READY TO GO?</h3>
        <p>
          We’re always looking for our next big
          oppertunity. If you’re ready to get your
          project started, please fill our out
          Project Introduction Brief and send it
          back to us. We’ll be in touch within a
          day or two.
        </p>
        <a class="project-doc" href="javascript:;"><span class="ss-standard ss-file"></span>PROJECT INTRODUCTION BRIEF</a>
      </div><!-- large-4 -->
    </div>
  </section>



{% endblock %}
