// this is for animations with images using the data-hover-image class
// and is applied to html inside sitewide.js
.activates-hover-image{
  img{
    z-index:1;
    @include transition(opacity $medium linear);
  }
  img + img{
    z-index:2;
    @include opacity(0);
  }
  &:hover{
    img{
      @include opacity(0);
    }
    img + img{
      @include opacity(1);
    }
  }
}

.work-button{

  display:inline-block;
  color:$white;
  border:2px solid rgba(#fff, 1);
  height:35px;
  padding: 0 15px;
  @include font("ChunkFive", 18px, 35px);
  @include border-radius(3px);
  @include opacity(0.6);
  @include transition(all 250ms linear);

  &:hover{
    color: $white;
    @include opacity(1);
  }

  & + .work-button{
    margin-left:10px;
  }

}
