
.depth-row{

  .large-8{
    min-height:240px;
    text-align:center;
  }

  .mock{
    position:absolute;
    left:34px;
    top:-93px;
    opacity:0.3;
  }

  .guy{
    position:relative;
    top:50%;
    width:112px;
  }

  // Design

  .wireframe-1{
    left: 50%;
    position: absolute;
    top: 50%;
    width: 66px;
    margin: -30px 0 0 -214px;
  }

  .wireframe-2{
    left: 50%;
    position: absolute;
    top: 50%;
    width: 66px;
    margin: -21px 0 0 -227px;
    @include opacity(.7);
  }

  .pencil{
    left: 50%;
    margin: -32px 0 0 -125px;
    position: absolute;
    top: 50%;
    width: 5px;
  }

  .ruler{
    left: 50%;
    margin: -30.5px 0 0 -112px;
    position: absolute;
    top: 50%;
    width: 11px;
  }

  .notebook{
    left: 50%;
    margin: -138px 0 0 -179px;
    position: absolute;
    top: 50%;
    width: 58px;
  }

  .pen{
    left: 50%;
    margin: -110px 0 0 -193px;
    position: absolute;
    top: 50%;
    width: 5px;
  }

  .flashdrive{
    left: 50%;
    margin: -77px 0 0 -209px;
    position: absolute;
    top: 50%;
    width: 10px;
  }


  // Dev

  .terminal{
    position: absolute;
    left: 50%;
    margin: -11px 0 0 94px;
    top: 50%;
    width: 72px;
  }

  .code{
    position: absolute;
    left: 50%;
    margin: 58.5px 0 0 117px;
    top: 50%;
    width: 80px;
  }

  .computer{
    position: absolute;
    left: 50%;
    margin: -38.5px 0 0 189px;
    top: 50%;
    width: 112px;
  }

}


.process-row{

  padding-bottom:70px;
  padding-top:70px;

  .circle{
    width:350px;
    z-index:1;
    @include opacity(0.4);
  }

  .objects-container{
    height:350px;
    position:absolute;
    left:0.9375em;
    top:0;
    width:350px;
    z-index:2;

    img{
      @include opacity(1);
    }

  }

  .planning{
    position:absolute;
    left:50%;
    margin: -70px 0 0 -60px;
    top:0;
    width:120px;
  }

  .design{
    position:absolute;
    left:0;
    margin: -68.5px 0 0 -60px;
    top:50%;
    width:120px;
  }

  .code{
    position:absolute;
    bottom:0;
    left:50%;
    margin: 0 0 -68.5px -60px;
    width:120px;
  }

  .launch{
    position:absolute;
    right:0;
    margin: -68.5px -60px 0 0;
    top:50%;
    width:120px;
  }

  .title-container{
    height:350px;
    left:0.9375em;
    position:absolute;
    top:0;
    width:350px;
    z-index:3;
  }

  .process-title{
    color:$gold;
    left:50%;
    position:absolute;
    margin: -14px 0 0 -100px;
    top:50%;
    text-align:center;
    width:200px;
    @include font("FuturaBold", 14px)
  }


}


.belief-row{

  .large-8{
    text-align:center;
  }

  .screen-container{
    background-color: transparent;
    height: 177px;
    left: 50%;
    margin-left: -157px;
    overflow:hidden;
    position: absolute;
    top: 18px;
    width: 315px;
    z-index: 2;

    img{
      position:absolute;
      right: -100%;
      top:20px;
      width:215px;
    }

  }

  .monitor{
    position:relative;
    width:350px;
    z-index:1;
  }

}


@include keyframes(rotate-toggle){
  0% {
    @include rotate(-15deg);
  }
  100%{
    @include rotate(15deg);
  }
}

.chat{
  @include animation(rotate-toggle 500ms linear 0 infinite alternate);
}