@font-face {
  font-family: 'ChunkFive';
  src: url('Chunk.eot'); /* IE9 Compat Modes */
  src: url('Chunk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Chunk.woff') format('woff'), /* Modern Browsers */
       url('Chunk.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Chunk.svg#1d2edb727159dffec03be400fd70540d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Edmondsans Bold';
  src: url('Edmondsans-Bold.eot'); /* IE9 Compat Modes */
  src: url('Edmondsans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Edmondsans-Bold.woff') format('woff'), /* Modern Browsers */
       url('Edmondsans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Edmondsans-Bold.svg#f665bbf4c06ef0fa26f7aefb226afbb1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Edmondsans Medium';
  src: url('Edmondsans-Medium.eot'); /* IE9 Compat Modes */
  src: url('Edmondsans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Edmondsans-Medium.woff') format('woff'), /* Modern Browsers */
       url('Edmondsans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Edmondsans-Medium.svg#dffdf410eda6d0e903115099b5e24d7c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Edmondsans Regular';
  src: url('Edmondsans-Regular.eot'); /* IE9 Compat Modes */
  src: url('Edmondsans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Edmondsans-Regular.woff') format('woff'), /* Modern Browsers */
       url('Edmondsans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Edmondsans-Regular.svg#7bbba12411bdd1eb69cf9e8a612ada82') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

